body {
  font-family: sans-serif;
}

.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form {
  padding: 1em;
  margin: 5em auto;
  width: 17em;
  background: #696a9a;
  border-radius: 3px;
}
button {
  background: #010066;
  color: #fff;
  border: 0;
  padding: 5px 24px;
  padding-right: auto;
}

select {
  background: #010066;
  padding: 5px 8px;
  color: #fff;
}

p {
  font-size: 10pt;
  color: rgb(248, 244, 244);
}

label {
  font-size: 10pt;
  color: rgb(248, 244, 244);
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  width: 95%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}

.tombol {
  background: #3498db;
  color: #fff;
  border: 0;
  padding: 5px 8px;
}
:root,
:root.light {
  background-color: white;
  color: black;
}
:root.form {
  padding: 1em;
  margin: 5em auto;
  width: 17em;
  background: #696a9a;
  border-radius: 3px;
}
:root.dark {
  background-color: rgb(31, 30, 30);
  color: rgb(255, 255, 255);
}
:root.dark.form {
  padding: 1em;
  margin: 5em auto;
  width: 17em;
  background: #242425;
  border-radius: 3px;
}
